@import "/src/styles/theme.module.css";

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: auto;
    margin-top: 10px;
}

.logo{
    width: 177px;
    height: 44px;
    border:#202020 1px solid;
}

.textoMenu{
    text-decoration: none;
    font-size: 16px;
    font-family: var(--montserrat);
    color:#202020    
}

.separador{
    margin: 0px 10px;
}