@import "/src/styles/theme.module.css";

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    width: 585px;
    height: 75px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}

.iconInput{
    margin: 0px 10px;
    height: 100%;
}

.inputEmail{
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: var(--title);
    padding: 0px 5px;
}

.inputEmail:focus{
    outline-color: #bcbcbc;
}
.btnEmail{
    border: none;
    cursor: pointer;
    width: 320px;
    height: 100%;
    font-size: 1rem;
    background-color: var(--amarelo);
    font-family: var(--montserrat);
    color: #FFFFFF;
    text-decoration: underline;
}